body {
    margin:0;
}
header {
    height: 64px;
    width: 100%;
    position:fixed;
}
footer {
    text-align: center;
    height: auto;
    padding: 10px 0;
    font-size: 18px;
}
header,footer {
    background-color:#333;
    color: #aaa;
}
#title {
    line-height: 64px;
    font-size: 22px;
    padding: 0 20px;
}
main {
    padding: 64px 20px 0 20px;
	background-color:white;
}
section.chartSection {
    margin: 0;
    display: inline-block;
}
button {
    color: black;
    height: 30px;
    line-height: 30px;
    background-color: greenyellow;
    border: none;
}
button:hover {
    background-color: #ecebea;
}

/* chart relevant code starts here */
.link {
    stroke: #ccc;
}
circle,.bar {
    fill: greenyellow;
}
circle.circle {
    fill: greenyellow;
}
circle.selected {
    fill: orange;
    cursor: pointer;
}
circle.hover {
    fill: aliceblue;
    stroke: black;
}
circle:hover {
    fill: aliceblue;
    stroke: black;
}
rect.bar {
    fill: greenyellow;
}
rect.selected {
    fill: orange;
    cursor: pointer;
}
rect.hover {
    fill: aliceblue;
    stroke: black;
}
rect.bar:hover {
    fill: aliceblue;
    stroke: black;

}
text.node-text {
    color: black;
    font-family: 'Arial', Serif;
}
div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: 30px;                    
    height: 14px;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}