body {
    margin:0;
}
header {
    height: 64px;
    width: 100%;
}
footer {
    text-align: center;
    height: auto;
    padding: 10px 0;
    font-size: 18px;
    line-height: 30px;
}
header,footer {
    background-color:#333;
    color: #aaa;
}
#title {
    float: left;
    line-height: 64px;
    font-size: 22px;
    padding: 0 20px;
}
main {
    padding: 0 20px 20px 20px;
	background-color:white;
}
h4 {
    background-color: steelblue;
    line-height: 40px;
    padding: 0 5px;
}
a, a:visited {
    color: black;
}